.insert {
  width: 75%;
  height: 75vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  position: absolute;
  padding: 3rem;

  background: rgb(242, 59, 255);
}

.close {
  font-size: 1.4rem;
  padding: 1rem;
}

.insert form {
  margin: 4rem 0 0 0;
}

.insert input {
  margin: 1rem 0 0 0;
  width: 50%;
  height: 3rem;
  font-size: 1.5rem;
}

.insert select {
  margin: 1rem 0 0 0;
  width: 50%;
  height: 3rem;
  font-size: 1.5rem;
}

.add {
  margin: 2.2rem 0 0 0;
  font-size: 1.7rem;
  padding: 1rem;
}