.item li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 3rem;
  min-height: 3rem;

  border: 1px solid #fff;
  border-top: none;
  cursor: pointer;
}

.item li:first-child {
  width: 4.5rem;
}

.item li:nth-child(2) {
  flex-direction: row;
  width: 20rem;
}

.coveredDay {
  background: rgb(254, 86, 86);
  /* 14EAE2 */
}



#itemNew {
  background: rgb(254, 86, 86);
}

#itemPending {
  background: rgb(255, 149, 43);
}

#itemFinished {
  background: rgb(43, 255, 156);
}




#smazat {
  justify-content: flex-start;
  padding: 0 0 0 1rem;
  overflow-x: auto;
  white-space: nowrap;
  cursor: initial;
}

#smazat button {
  min-width: 1.75rem;
  max-width: 1.75rem;
  min-height: 1.75rem;
  max-height: 1.75rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#smazat button img {
  width: 110%;
  height: 110%;
  object-fit: contain;
}

/* width */
#smazat::-webkit-scrollbar {
  height: 8px;
}

/* Track */
#smazat::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#smazat::-webkit-scrollbar-thumb {
  background: #949494;
}

/* Handle on hover */
#smazat::-webkit-scrollbar-thumb:hover {
  background: #828282;
}




#hollow {
  background: #635BFF;
  margin: 0 0 0 -1px;
  width: 4.56rem;
  border: none;
}